<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="body-wrapper">
      <header>
        <% include ./partials/header.ejs %>
      </header>
      <nav>
        <ul>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/sessions/new">Log In</a></li>
        </ul>
      </nav>
      <main>
      </main>
    </div>
  </body>
</html>
