/* =========================
| | Mobile Design
========================= */

  body {
    margin: 0 auto;
  }

  /* =========== Header =========== */

    header {
      margin: 0;
      width: 100%;
      background-color: #EEEAE9;
      padding-top: 1%;
      padding-bottom: 1%;
    }

    h1 {
      text-align: center;
      font-size: 2em;
      font-family: 'Special Elite';
      text-shadow: 2px 2px #bc8682;
    }

  /* =========== Navigation =========== */

    nav {
      text-align: center;
      background-color: #e8d6d5;
    }

    #inputText {
      width: 30%;
      height: 30px;
      margin-right: 2%;
    }

    #generate, #about {
      background-color: #bc8682;
      border: 1px solid white;
      border-radius: 2px;
      color: white;
      padding: 10px 30px;
      text-align: center;
      font-size: 14px;
      margin-top: 2%;
      margin-bottom: 2%;
    }

  /* =========== Main Content =========== */

    main {
      display: flex;
      flex-direction: column;
      background-color: #e8d6d5;
      margin-top: 5%;
      margin-bottom: 15%;
    }

    #saved-list {
      order: -1;
    }

    /* =========== Generated Cards =========== */

    .tempCard {
      display: flex;
      margin-top: 2%;
      border-top: 2px solid #bc8682;
      border-bottom: 2px solid #bc8682;
    }

    .imageDiv {
      margin: 0 auto;
      width: 20%
    }

    .bookThumbnail {
      width: 100%;
    }

    .outerContainer {
      width: 78%;
      margin-left: 2%;
      margin-right: 2%;
    }

    .innerContainer {
      display: flex;
      justify-content: space-between;
    }

    h2, h3, h4, p {
      font-family: 'Comfortaa', cursive;
    }

    h4 {
      font-size: 4em;
      font-family: 'Special Elite';
      text-shadow: 2px 2px #bc8682;
    }


    .innerContainer button {
      background-color: #82b8bc;
      border: 1px solid white;
      border-radius: 2px;
      color: white;
      padding: 10px 10px;
      text-align: center;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
      width:25%;
    }

    .alignRight {
      text-align: right;
    }

    .hiddenText {
      display: none;
    }

    /* =========== Image Carousel =========== */

    #carousel-container {
      margin: 0 auto;
      margin-top: 5%;
      display: flex;
      align-content: center;
      padding-left: 5%;
      padding-right: 5%;
    }

    .carousel-button {
      margin-left: 5%;
      margin-right: 5%;
      align-self: center;
    }

    #carousel-images {
      margin: 0 auto;
      margin-top: 5%;
      width: 30%;
    }

    .bookCoverDiv {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }

    #carousel-images img {
      width: 100%
      height: auto;
    }

    .hideImage {
      display: none;
    }

    /* =========== Current Book Card =========== */

    .myBookCard {
      margin-left: 5%;
      margin-right: 5%;
    }

  /* =========== Footer =========== */

    footer {
      text-align: right;
      margin: 0;
      width: 100%;
      height: 75px;
      background-color: #EEEAE9;
      position: fixed;
      bottom: 0;
    }

    #about {
      margin-right: 10%;
      border: 1px solid black;
    }

  /* =========== Modal =========== */

    #modalAbout {
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      overflow: auto;
    }

    #modalContainer {
      margin: 150px auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: white;
      height: 420px;
      width: 90%;
      border-radius: 5px;
      border: 1px solid #bc8682;
      padding: 5% 2% 2% 2%;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      overflow-y: scroll;
    }

    #buttonDiv {
      text-align: right;
    }

    #modalContainer button {
      margin-bottom: 5%;
      background-color: #82b8bc;
      border: 1px solid black;
      border-radius: 2px;
      color: black;
      padding: 10px 10px;
      text-align: center;
      font-size: 14px;
      width:25%;
    }

    .hiddenModal {
      display: none;
    }

/* =========================
| | Browser Design
========================= */

  @media screen and (min-width: 800px) {

  /* =========== Main Content =========== */

  main {
    justify-content: space-between;
    flex-direction: row;
  }

  h1 {
    font-size: 3em;
  }

  #saved-list {
    order: 0;
  }

    /* =========== Generated Cards =========== */

    #generated-list {
      overflow-y: scroll;
      height: 500px;
      width: 48%;
    }

    #saved-list {
      overflow-y:scroll;
      height: 500px;
      width: 48%;
    }

    .card {
      border-right: 2px solid #bc8682;
    }

    /* =========== Image Carousel =========== */

    h4 {
      font-size: 2em;
    }

    #carousel-container {
      padding-right: 50px;
    }

  /* =========== Modal =========== */

    #modalContainer {
      width: 500px;
    }

  }
