/* =========================
| | Mobile Design
========================= */

  * {
    /* border: 1px solid gold; */
    /* font-family: 'Comfortaa', cursive;
    font-family: 'Special Elite'
    #82b8bc */
  }

  body {
    margin: 0 auto;
  }

  /* =========== Header =========== */

    header {
      margin: 0;
      width: 100%;
      background-color: #EEEAE9;
      padding-top: 1%;
      padding-bottom: 1%;
    }

    h1 {
      text-align: center;
      font-size: 3em;
      font-family: 'Special Elite';
      text-shadow: 2px 2px #bc8682;
    }

  /* =========== Navigation =========== */

    nav {
      background-color: #e8d6d5;
    }

  /* =========== Main Content =========== */

    main {
      background-color: #e8d6d5;
      margin-top: 2%;
      margin-bottom: 2%;
    }

    /* =========== Generated Cards =========== */

    .card {
      display: flex;
      margin-top: 2%;
      border-top: 2px solid #bc8682;
      border-bottom: 2px solid #bc8682;
    }

    .imageDiv {
      margin: 0 auto;
      width: 20%
    }

    .bookThumbnail {
      width: 100%;
    }

    .outerContainer {
      width: 78%;
      margin-left: 2%;
      margin-right: 2%;
    }

    .innerContainer {
      display: flex;
      justify-content: space-between;
    }

    h2, h3, p {
      font-family: 'Comfortaa', cursive;
    }

    .outerContainer button {
      background-color: #82b8bc;
      border: 1px solid white;
      border-radius: 2px;
      color: white;
      padding: 10px 10px;
      text-align: center;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
      width:25%;
    }

    .alignRight {
      text-align: right;
    }

    .hidden {
      display: none;
    }

  /* =========== Footer =========== */

    footer {
      margin: 0;
      width: 100%;
      height: 100px;
      background-color: #EEEAE9;
    }

/* =========================
| | Browser Design
========================= */

  @media only screen and (min-width: 600px) {

  /* =========== Main Content =========== */

  main {
    display: flex;
  }

    /* =========== Generated Cards =========== */

    #information {
      overflow-y: scroll;
      height: 500px;
      width: 50%;
    }

    .card {
      border-right: 2px solid #bc8682;
    }

  }
